= form_for [:admin, @issue] do |f|
  - unless @issue.errors.empty?
    = render 'admin/shared/validation_errors', model: @issue
  = f.label :frontpage
  .issue-img
    - if @issue.picture.attached?
      = image_tag(@issue.picture.variant(resize_to_limit: [150, 150]))
    - else
      = image_pack_tag('logo_issue.png')
  .add-issue-img
    = f.file_field :picture
  div
    = f.label :title
    = f.text_field :title
  .published
    = f.check_box :published
    = t('labels.published.true')
  = f.submit t('actions.save')
