.add-entry
  = link_to new_admin_issue_path do
    i.fas.fa-plus-circle
    = t('labels.issue.new')
- @issues.each do |issue|
  .issue
    a href="#{admin_issue_posts_path(issue)}"
      - if issue.picture.attached?
        .issue-img style=("background-image: url('#{url_for issue.picture.variant(resize_to_limit: [150, 150])}')")
      - else
        .issue-img= image_pack_tag('logo_issue.png')
      .issue-title
        = issue.title
    .actions
      = link_to edit_admin_issue_path(issue) do
        i.fas.fa-pencil-alt
         = t('actions.edit')
      - unless issue.published?
        = button_to admin_issue_path(issue), method: :delete, data: {confirm: "Wirklich löschen?"} do
          i.fas.fa-trash
