.add-entry
  = link_to new_subscriber_path do
    i.fas.fa-plus-circle
    = t('labels.subscriber.new')
.index-filter
  = form_tag admin_subscribers_path, method: :get do
    = text_field_tag :email, params[:email], placeholder: Subscriber.human_attribute_name(:email)
    label
      = radio_button_tag :confirmed, '0', params[:confirmed] == '0'
      = t('labels.subscriber.confirmed.false')
    label
      = radio_button_tag :confirmed, '1', params[:confirmed] == '1'
      = t('labels.subscriber.confirmed.true')
    = link_to t('actions.clear'), admin_subscribers_path, class: "clear"
    = submit_tag t('actions.filter')

#info
  .show.info-content
    h3= @newsletter_info.title
    = markdown(@newsletter_info.body)
  .edit-info
    = link_to edit_admin_newsletter_info_path do
    i.fas.fa-pencil-alt
    = t('actions.edit')

- if @subscribers.any?
  = will_paginate
  table.index-table
    thead
      tr
        - [:email, :confirmed].each do |attr|
          th
            = Subscriber.human_attribute_name(attr)
        th
    - @subscribers.each do |subscriber|
      tr
        td
          = subscriber.email
        td
          = subscriber.human_confirmed
        td.actions
          = button_to admin_subscriber_path(subscriber), method: :delete, data: {confirm: "Wirklich löschen?"} do
            i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
