/** main **/
body.about.show #main {
  position: relative;
  margin: 160px auto 0 170px;

  #link-list {
    position: absolute;
    top: 0;
    right: 20px;
    width: 230px;
    padding: 20px 5px;
    border-top: 1px solid $dgrey;

    h3 {
      text-align: right;
      margin-bottom: 20px;
    }

    li {
      padding-top: 10px;
      font-size: 1.2em;
      text-align: right;
    }
  }

  #content {
    float: right;
    margin: 0 280px 0 0 ;
  }
}

#footer {
  clear: both;
}
