body.public.index #header {
  font-size: 1.5em !important;
  margin-bottom: 0 !important;
  height: 50px !important;

  div.root-flash {
    &.alert {
      color: $red;
    }
  }
}

body.public.index #main {
  margin-top: 70px;
}

body.public.index #content {
  display: inline-flex;
  width: 100%;
  max-width: initial;
  margin: 0;
  border-top: none;

  #news-on-stage {
    width: 50%;
    height: 500px;
    margin: auto 70px auto 0;

    .post {
      margin: 20px 0;
      padding: 5px;
      border-bottom: none;

      .tag {
        font-family: 'Crimson Text';
        font-style: italic;
        padding-bottom: 5px;

        &:before, &:after {
          content: '+++';
          padding: 0 3px;
        }
      }

      h1 {
        font-size: 1.3em
      }

      h2, .info {
        margin-top: 10px;
        font-size: 1.1em;
      }

      h2 {
        font-style: italic;
        padding: 0px;
      }

      .info {
        font-weight: 600;
      }

      &:hover {
        color: $white;
        background-color: $dgrey;
      }
    }
  }
}
