/** index **/
@media(max-width: 1110px) {
  div.issue:nth-child(2) {
    margin-right: 0px !important;
  }
}

div#issues {
  div.issue {
    float: left;
    margin: 40px 80px 40px 0;
    height: 333px;

        a {
      div.issue-img {
        position: relative;
        padding: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        border: 1px solid $dgrey;
        border-radius: 1px;


        div.flyout {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $dgrey;
          opacity: 0.7;

          div.flyout-title {
            position: absolute;
            top: 35%;
            left: 35%;
            width: 80px;
            height: 60px;
            font-size: 4em;
            color: $white;
            overflow: hidden;
          }
        }

        &:hover {
          div.flyout {
            display: block;
          }
        }
      }
    }
  }
}

/* Root Flash */
div.root-flash {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 54px;
  left: 0px;
  text-align: center;
  font-size: 150%;

  &.alert {
    color: $red;
  }
}

