body.news {
  .post {
    .tag {
      font-family: 'Crimson Text';
      font-style: italic;
      padding-bottom: 5px;

      &:before, &:after {
        content: '+++';
        padding: 0 3px;
      }
    }

    h2, .info {
      margin: 10px 0;
      font-size: 1.5em;
    }

    h2 {
      font-style: italic
    }
  }
}

