div#posts-list {
  float: left;
  width: 230px;

  div#issues-nav {
    width: 230px;
    float: left;
    margin: 0 20px 20px 0;
  }
}

div.gallery {
  position: relative;
  max-width: 100%;
  height: 650px;
  margin-bottom: 70px;
  background-color: $dgrey;

  .slides {
    height: 600px;

    li {
      display: table-row;

      div {
        margin: 0 auto;
        height: 600px;
        width: 845px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        img {
          max-width: 100%;
          max-height: 600px;
          vertical-align: bottom;
        }
      }

      p.flex-caption {
        margin: 0 auto;
        padding: 5px 10px;
        display: block;
        min-height: 40px;
        font-size: 1em;
        line-height: 1.1em;
        text-align: center;
        background-color: $dgrey;
        color: $white;
      }
    }
  }


  ol.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;

    li {
      margin: 0 6px;
      display: inline-block;
      zoom: 1;

      a {
        width: 11px;
        height: 11px;
        display: block;
        text-indent: -9999px;
        background-color: darken($lgrey, 20%);
      }

      a.flex-active {
        background-color: $dgrey;
      }
    }
  }

  ul.flex-direction-nav {
    li {
      height: 100%;
      width: 30%;

      &:last-child {
        right: 0;
      }

      a {
        position: absolute;
        width: 30px;
        height: 35px;
        padding: 5px;
        overflow: hidden;
        text-shadow: none;
        top: 45%;
        z-index: 2;

        &:hover {
          color: darken($lgrey, 20%) !important;
        }

        &.flex-prev {
          left: 0;
          padding-left: 20px;

          &:before {
            font-family: 'Font Awesome 5 Free';
            font-size: 2.5em;
            content: '\f053';
            display: inline-block;
            font-weight: 900;
          }
        }

        &.flex-next {
          right: 0;
          padding-right: 20px;

          &:before {
            font-family: 'Font Awesome 5 Free';
            font-size: 2.5em;
            content: '\f054';
            display: inline-block;
            font-weight: 900;
          }
        }
      }

      &:hover {
        a {
          opacity: 1;
        }
      }
    }
  }
}
