div#filter-mask{
  float: left;
  width: 230px;
  padding-top: 20px;
  border-top: 1px solid $dgrey;

  div.filter {
    padding-left: 5px;

    &:hover {
      a.reset {
        display: inline-block;
      }
    }
  }

  label {
    margin: 5px 0;
    color: lighten($dgrey, 10%);
    cursor: default;
  }

  select#category, select#issue_id,
  input[type=text] {
    box-sizing: border-box;
    width: 200px;
    margin: 2px 0 10px;
    height: 24px;
    padding: 2px;
    font-family: sans-serif;
    border: 1px solid $dgrey;
    background-color: $white;
  }

  select#category, select#issue_id,
  a.reset {
    cursor: pointer;
  }

  a.reset {
    padding-left: 5px;
    display: none;
    font-family: sans-serif;
  }

  input[type=submit] {
    float: left;
    margin: 20px 0 0 5px;
    padding: 3px;
    color: $white;
    background-color: $dgrey;
    border: 1px solid $dgrey;
    cursor: pointer;
  }
}

body.search #content {
  margin-bottom: 40px;
  font-size: 1.2em;
  line-height: 1.5;

  div.results {
    margin-top: 20px;
  }

  p.date, span.date {
    font-size: 0.9em;
    line-height: 2em;

    &:before {
      content: "("
    }

    &:after {
      content: ")"
    }
  }

  p.date {
    float: right;
  }

  div.titles {
    padding-left: 30px;
  }

  a {
    &:after {
      content: " - ";
    }

    &:last-child:after {
      content: "";
    }

    &:hover {
      color: $red;
    }

    span.authors:after {
      content: ":"
    }
  }
}


