body.stores #content {
  div.post {
    margin-bottom: 20px;
  }

  div.markdown {
    margin-top: 20px;
  }

  h3 {
    padding-top: 20px;
  }

  ul li {
    margin: 15px 0;
    font-size: 1.2em;
  }
}
