body.subscribers #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  div.post {
    margin-bottom: 20px;
    border-bottom: none;
  }

  div.markdown {
    margin-top: 20px;

    p {
      text-align: center;
    }
  }

  .captcha {
    margin: 40px 0 16px;
    display: flex;
    width: 300px;
    padding: 8px;
    border: 1px solid;
  }

  .captcha img {
    margin: 0 auto;
  }

  label {
    margin: 5px 0;
    color: lighten($dgrey, 10%);
    cursor: pointer;
    width: 300px;
  }

  .captcha-input p {
    margin: 5px 0;
    width: 300px;
  }

  input[type=text],
  input[type=email] {
    float: none;
    margin: 2px 0 10px;
    padding: 8px;
    display: block;
    font-family: sans-serif;
    border: 1px solid $dgrey;
    width: 300px
  }

  input[type=submit] {
    float: right;
    margin-top: 20px;
    padding: 3px;
    color: $white;
    background-color: $dgrey;
    border: 1px solid $dgrey;
    cursor: pointer;
  }
}

/* Flash */
#main div.flash {
  padding: 10px 0;
  font-size: .9em;
  line-height: 1em;
  font-family: 'Helvetica';

  &.alert {
    color: $red;
  }
}

/* Validation Errors */
div.validation-errors {
  margin-bottom: 20px;
  font-size: 0.9em;
  color: $red;
  font-family: 'Helvetica';

  div {
    padding-bottom: 5px;
  }
}

