= form_tag admin_login_path do
  div
    = text_field_tag :username, @name, placeholder: User.human_attribute_name(:username), required: true
  div
    = password_field_tag :password, nil, placeholder: User.human_attribute_name(:password), required: true
  div
    = submit_tag t('actions.login')
