.overlay.attachments
  .head
    span.close.fas.fa-window-close
    span.msg
  ul.attachments
    - if @attachment_set.attachments.any?
      - @attachment_set.attachments.each do |attachment|
        li.attachment*{data: {url: url_for(attachment.picture.variant(resize_to_limit: [150, 150])).to_s}} style=("background-image: url('#{url_for(attachment.picture.variant(resize_to_limit: [150, 150]))}')")
          = link_to 'Delete', ajax_attachment_set_attachment_path(@attachment_set, attachment), method: :delete, class: 'del fas fa-trash'
  .upload
    = form_for [:ajax, @attachment_set, Attachment.new], remote: true do |f|
      = f.file_field :picture
