.overlay.attachments
  .head
    span.close.fas.fa-window-close
    span.msg
  ul.attachments
    - @uploads.each do |upload|
      li.document*{data: {url: url_for(upload.dossier).to_s}}
        - if upload.dossier.attached?
          = upload.dossier.filename
          = link_to 'Delete', ajax_upload_path(upload), method: :delete, class: 'del fas fa-trash'
  .upload
    = form_for [:ajax, Upload.new], remote: true do |f|
      = f.file_field :dossier
