= form_tag(admin_impressum_path, method: :patch) do
  div
    = label_tag :title
    = text_field_tag '[impressum][title]', @impressum.title
  div
    = render 'admin/shared/md_toolbar'
    = text_area_tag '[impressum][body]', @impressum.body, class: 'body'
  = submit_tag t('actions.save')
