.show-actions
  = link_to edit_admin_impressum_path do
    i.fas.fa-pencil-alt
    =  t('labels.impressum.edit')
.show
  h1
    = @impressum.title
  = markdown(@impressum.body)
.show-actions
  = link_to edit_admin_impressum_path do
    i.fas.fa-pencil-alt
    =  t('labels.impressum.edit')
