#filter-mask
  = form_tag search_path, method: :get do
    .filter.category
      = label_tag t('activerecord.attributes.search.category')
      = select_tag :category,
         options_for_select([[t('labels.issue.menu'), 'posts'],[t('labels.paper.menu'), 'papers']], params[:category]),
              include_blank: true
    .filter.issue
      = label_tag t('activerecord.attributes.search.issue')
      = select_tag :issue_id, options_from_collection_for_select(Issue.reverse_published, :id, :title, params[:issue_id]),
              include_blank: true
    .filter
      = label_tag t('activerecord.attributes.search.author')
      = text_field_tag :author, params[:author]
    .filter
      = label_tag t('activerecord.attributes.search.title')
      = text_field_tag :title, params[:title]
    .filter
      = label_tag t('activerecord.attributes.search.query')
      = text_field_tag :body, params[:body]
    = submit_tag t('labels.search.submit')
#content
  - flash.each do |key, val|
    div class=("flash #{key}")
      = val
  - if @papers.any?
    .results
      h3
        = t('labels.paper.menu')
      .titles
        - @papers.each do |paper|
          a.paper-title href="#{paper_path(paper)}"
            = paper.title
            span.date= l paper.updated_at, format: :search
  - @issues.each do |issue|
    .results
      p.date= l issue.created_at, format: :search
      h3
        = issue.title
      .titles
        - issue.posts.each do |post|
          a.post-titles href="#{issue_post_path(issue, post)}"
            span.authors= post.authors.join(", ")
            = post.title
