/**
 * admin main.scss
 *
 * General OutsideTheBox Backend Stylesheet
 */

@import 'partials/colors';
@import 'partials/sidebar';
@import 'partials/widgets';
@import 'partials/form';
@import 'partials/index';
@import 'partials/show';
@import 'partials/attachments';
@import 'sections/issues';
@import 'sections/galleries';
@import 'sections/news';
@import 'sections/stores';
@import 'sections/aether';

html {
  color: $dgrey;
}

a {
  color: $dgrey;

  &:hover {
    color: $blue;
  }
}

/** wrapper **/
#wrapper {
  float: left;
  width: 100%;
}

/** Header **/
#main {
  min-width: 715px;
  margin-left: 220px;
  padding: 10px;
}

#main #header {
  height: 100px;

  h1 {
    padding: 20px 0;
    font-size: 120%;
    font-weight: normal;
  }

  h2 {
    padding: 5px 0;
    font-size: 105%;
    font-weight: normal;
  }

  a {
    margin: 10px 0 0 10px;
    float: right;
    font-size: 0.8em;
    color: $dgrey;

    &.hover {
      color: $blue;
    }
  }

  a.fa-sign-out-alt, a.fa-user {
    &:before {
      margin-right: 5px;
    }
  }
}

/* Content */
#content {
  max-width: 900px;
  min-width: 715px;
  padding-right: 20px;
}
