#issues
  - Issue.reverse_published.each do |issue|
    .issue
      a href="#{issue_posts_path(issue)}"
        .issue-img
          - if issue.picture.attached?
            = image_tag(issue.picture.variant(resize_to_limit: [230, 320]))
          - else
            = image_pack_tag('logo_issue_medium.png')
          .flyout.hidden
            .flyout-title
              = issue.title
