.show-actions
  .published-status= published_status(news.published)
  .on-stage-status= on_stage_status(news.on_stage?)
  = link_to admin_news_index_path do
    i.fas.fa-check-circle
     = t('actions.back')
  = link_to edit_admin_news_path(news) do
    i.fas.fa-pencil-alt
     = t('actions.edit')