= form_for [:admin, @news], html: {novalidate: true} do |f|
  - unless @news.errors.empty?
    = render 'admin/shared/validation_errors', model: @news
  div
    = f.label :tag
    = f.text_field :tag
  div
    = f.label :title
    = f.text_field :title
  div
    = f.label :subtitle
    = f.text_field :subtitle
  div
    = f.label :info
    = f.text_field :info
  div
    = render 'admin/shared/md_toolbar',
            img_url: ajax_attachment_set_attachments_path(@news.attachment_set),
            file_url: ajax_uploads_path
    = f.text_area :body, class: 'body'
  .published
    = f.check_box :published
    = t('labels.published.true')
  .on-stage
    = f.check_box :on_stage
    = t('labels.news.on_stage')
  .on-stage-period
    = t('labels.news.on_stage_from')
    = f.date_field :on_stage_from, min: Date.today
    = t('labels.news.on_stage_until')
    = f.date_field :on_stage_until, min: Date.tomorrow
  - unless @news.persisted?
    = hidden_field_tag :attachment_set_id, @news.attachment_set.id
  = f.submit t('actions.save')
