.add-entry
  = link_to new_admin_news_path do
    i.fas.fa-plus-circle
    = t('labels.news.new')
.index-filter
  = form_tag admin_news_index_path, method: :get do
    = text_field_tag :title, params[:title], placeholder: News.human_attribute_name(:title)
    label
      = radio_button_tag :published, '0', params[:published] == '0'
      = t('labels.published.false')
    label
      = radio_button_tag :published, '1', params[:published] == '1'
      = t('labels.published.true')
    = link_to t('actions.clear'), admin_news_index_path, class: "clear"
    = submit_tag t('actions.filter')
- if @news.any?
  = will_paginate
  table.index-table
    thead
      tr
        - [:title, :status, :on_stage_status, :update].each do |attr|
          th
            = News.human_attribute_name(attr)
        th
    - @news.each do |news|
      tr
        td
          = link_to news.title, admin_news_path(news)
        td.published
          = news.human_published
        td.on-stage-status
          = news.human_on_stage
        td.update
          = l news.updated_at, format: :long
          .updated_by
            = news.user.username
        td.actions
          = link_to edit_admin_news_path(news) do
            i.fas.fa-pencil-alt
             = t('actions.edit')
          - if !news.published?
            = button_to admin_news_path(news), method: :delete, data: {confirm: "Wirklich löschen?"} do
              i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
