= render partial: 'action_bar', locals: { news: @news }

.show
  .tag= @news.tag
  h1= @news.title
  h2= @news.subtitle
  .info= @news.info
  = markdown(@news.body)

= render partial: 'action_bar', locals: { news: @news }
