@media print {
  nav#menu, div#posts-list, nav#main-list, div#post-nav, div#footer,
  div.gallery, div#link-list, figure.image, div#cookies-bar {
    display: none;
  }

  div#logo {
    margin-left: 30px;
  }

  header {
    width: 90%;
    text-align: right;
    margin: 50px 0 0;
    font-size: 1em;
  }

  body.posts,
  div#content,
  body.dsgvo #main,
  body.impressum #main {
    position: initial !important;
    float: none !important;
    margin: 0 !important;
    border: none;
    font: normal normal normal 1em/1.2 'Helvetica', 'Arial', sans-serif;

    div.actions {
      display: none;
    }

    div.post {
      margin: 0 50px;
      width: 900px;
      border: none;

      p {
        font-size: 0.9em;
      }

      div.author-info {
        font-size: 1em;
      }

      div.footnotes {
        padding-top: 20px;
        border-top: 1px solid $lgrey;
        font-size: 90%;
      }
    }
  }
}
