@mixin prefix($prop, $val) {
  @each $p in webkit moz ms o {
    -#{$p}-#{$prop}: $val;
  }
  #{$prop}: $val;
}

#content {
  max-width: 740px;
  min-width: 580px;
  margin-left: 260px;
  padding: 20px 5px 20px;
  border-top: 1px solid $dgrey;

  div.actions {
    float: right;
    width: 15px;
    height: 18px;
    overflow: hidden;
  }

  div.post {
    padding-bottom: 20px;
    border-bottom: 1px solid $dgrey;

    a {
      color: lighten($dgrey, 20%);

      &:hover {
        color: $dgrey;
      }
    }

    div.author {
      padding-bottom: 10px ;
      font-style: italic;
      font-size: 1.1em;
    }

    h1 {
      font-size: 1.8em;
      line-height: 1.15;
      text-transform: uppercase;
    }

    h2 {
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 1.55em;
      line-height: 1.15;
    }

    div.markdown {
      margin-top: 50px;

      h1 {
        padding: 30px 0 20px;
        font-size: 1.25em;
        line-height: 1.25em;
        font-weight: 500;
        text-transform: none;
        letter-spacing: 0.5px;
      }

      h2 {
        padding-bottom: 10px;
        font-size: 1.2em;
        line-height: 1.25em;
        font-weight: 500;
        font-style: italic;
      }

      p {
        padding-bottom: 20px;
        font-size: 1.25em;
        line-height: 1.25em;
        font-weight: 500;

        @include prefix(hyphens, auto);

        strong {
          font-family: 'Crimson Text Semibold';
        }

        a {

          &:hover {
            color: $red;
          }
        }

        span.single-img {
          display: inline-block;
        }

        figure {
          box-sizing: border-box;
          padding: 20px 20px 20px 0;
          max-width: 100%;
          float: left;

          img {
            max-width: 400px;
            max-height: 400px;
          }

          figcaption {
            font-family: 'Helvetica';
            font-size: 0.7em;
            line-height: 1.25em;
            letter-spacing: 0.2px;
          }

          &.full img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      ul {
        margin: 0 0 20px 20px;
        font-size: 1.2em;
        line-height: 1.4em;

        li {
          list-style-type: square;
        }
      }

      ol {
        margin: 0 0 20px 20px;
        font-size: 1.2em;
        line-height: 1.4em;

        li {
          list-style-type: decimal;
        }
      }

      blockquote {
        box-sizing: border-box;
        float: right;
        padding: 20px 0 20px 30px;
        width: 45%;

        p {
          font-family: 'Helvetica';
          font-size: 1em;
          line-height: 1.4em;
        }
      }

      a.footnote {
        line-height: 100%;
        vertical-align: top;
        color: $red;
      }
    }
  }

  div.author-info {
    margin: 40px 0;
    font-style: italic;
    line-height: 1.2em;
  }

  div.footnotes {
    ol > li {
      list-style-type: decimal !important;
      margin-left: 20px;
      line-height: 1.2em;
    }
  }
}
