.show-actions
  .published-status= published_status(object.published)
  = link_to index_path do
    i.fas.fa-check-circle
    = t('actions.back')
  = link_to edit_path do
    i.fas.fa-pencil-alt
    = t('actions.edit')