nav#main-list
  ul
    - @countries.each do |country|
      a class=("#{'active' if country == @country}") href="#{stores_path(country.country)}"
        li
          p
            span.country
              = country.human

#content
  #info
    .post
      = markdown(@sales_info_body)
  - if @country.nil? || @country.cities.empty?
    .no-results
      = t('messages.error.find')
  - else
    - @country.cities.with_stores.each do |city|
      h3
        = city.city
      ul
        - city.stores.each do |store|
          li
            a href="#{store.url}" class="store" target="_blank"
              p
                = "#{store.name}, #{store.direction}"
