= form_for [:admin, @author] do |f|
  - unless @author.errors.empty?
    = render 'admin/shared/validation_errors', model: @author
  div
    = f.label :name
    = f.text_field :name
  .author-info
    = f.label :info
    = f.text_area :info
  = f.submit t('actions.save')
