.add-entry
  = link_to new_admin_author_path do
    i.fas.fa-plus-circle
    = t('labels.author.new')
  .index-filter
  = form_tag admin_authors_path, method: :get do
    = text_field_tag :name, params[:name], placeholder: (Author.human_attribute_name :name)
    label
      = radio_button_tag :has_published, '1', params[:has_published] == '1'
      = t('labels.has_published.true')
    label
      = radio_button_tag :has_published, '0', params[:has_published] == '0'
      = t('labels.has_published.false')
    = link_to t('actions.clear'), admin_authors_path, class: "clear"
    = submit_tag t('actions.filter')
- if @authors.any?
  = will_paginate
  table.index-table
    thead
      tr
        - [:name, :published, :update].each do |attr|
          th
            = Author.human_attribute_name(attr)
        th
    - @authors.each do |author|
      tr
        td.author
          = link_to author.name, admin_author_path(author)
        td.published
          = author.human_published
        td.update
          = l author.updated_at, format: :long
        td.actions
          = link_to edit_admin_author_path(author) do
            i.fas.fa-pencil-alt
             = t('actions.edit')
          - unless author.published_yet?
            = button_to admin_author_path(author), method: :delete, data: {confirm: "Wirklich löschen?"} do
              i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
