.show-actions
  = link_to admin_authors_path do
    i.fas.fa-check-circle
    = t('actions.back')
  = link_to edit_admin_author_path(@author) do
    i.fas.fa-pencil-alt
    = t('actions.edit')
.show
  .author
    = @author.name
  .author-info
    = @author.info
  - unless @posts.any? || @papers.any?
    .no-results
      = t('messages.error.find')
  - if @posts.any?
    = will_paginate @posts
    table.index-table
      thead
        tr
          - [:title, :issue, :status, :update].each do |attr|
            th
              = Post.human_attribute_name(attr)
      - @posts.each do |post|
        tr
          td
            = link_to post.title, admin_issue_post_path(post.issue, post)
          td.issue
            = post.issue.title
          td.published
            = post.human_published
          td.update
            = l post.updated_at, format: :long
  - if @papers.any?
    = will_paginate @papers
    table.index-table
      thead
        tr
          - [:paper, :status, :update].each do |attr|
            th
              = Paper.human_attribute_name(attr)
      - @papers.each do |paper|
        tr
          td
            = link_to paper.title, admin_paper_path(paper)
          td.published
            = paper.human_published
          td.update
            = l paper.updated_at, format: :long
.show-actions
  = link_to admin_authors_path do
    i.fas.fa-check-circle
     = t('actions.back')
  = link_to edit_admin_author_path(@author) do
    i.fas.fa-pencil-alt
     = t('actions.edit')
