.add-entry
  = link_to new_admin_paper_path do
    i.fas.fa-plus-circle
    = t('labels.paper.new')
.index-filter
  = form_tag admin_papers_path, method: :get do
    = text_field_tag :title, params[:title], placeholder: Paper.human_attribute_name(:title)
    = text_field_tag :author, params[:author], placeholder: Paper.human_attribute_name(:author)
    label
      = radio_button_tag :published, '0', params[:published] == '0'
      = t('labels.published.false')
    label
      = radio_button_tag :published, '1', params[:published] == '1'
      = t('labels.published.true')
    = link_to t('actions.clear'), admin_papers_path, class: "clear"
    = submit_tag t('actions.filter')
- if @papers.any?
  = will_paginate
  table.index-table
    thead
      tr
        - [:title, :author, :status, :update].each do |attr|
          th
            = Paper.human_attribute_name(attr)
        th
    - @papers.each do |paper|
      tr
        td
          = link_to paper.title, admin_paper_path(paper)
        td
          = paper.authors.join(", ")
        td.published
          = paper.human_published
        td.update
          = l paper.updated_at, format: :long
          .updated_by
            = paper.user.username
        td.actions
          = link_to edit_admin_paper_path(paper) do
            i.fas.fa-pencil-alt
            = t('actions.edit')
          - if !paper.published?
            = button_to admin_paper_path(paper), method: :delete, data: {confirm: "Wirklich löschen?"} do
              i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
