.show-actions
  = link_to admin_papers_path do
    i.fas.fa-check-circle
     = t('actions.back')
  = link_to edit_admin_paper_path(@paper) do
    i.fas.fa-pencil-alt
     = t('actions.edit')
.show
  .author
    - @paper.authors.each do |author|
      = link_to author.name, admin_author_path(author)
  h3
    = @paper.tag
  h1
    = @paper.title
  h2
    = @paper.subtitle
  = markdown(@paper.body)
  .author-info
    - @paper.authors.each do |author|
      div
        = author.info
.show-actions
  = link_to admin_papers_path do
    i.fas.fa-check-circle
     = t('actions.back')
  = link_to edit_admin_paper_path(@paper) do
    i.fas.fa-pencil-alt
     = t('actions.edit')
