#content
  .actions
    = link_to t('actions.print'), '#', onclick: 'window.print();return false;',
            class: 'fas fa-print', title: t('actions.print'), media: 'print'
  .post
    = markdown(@dsgvo.body)
