= form_tag(admin_dsgvo_path, method: :patch) do
  div
    = label_tag :title
    = text_field_tag '[dsgvo][title]', @dsgvo.title
  div
    = render 'admin/shared/md_toolbar'
    = text_area_tag '[dsgvo][body]', @dsgvo.body, class: 'body'
  = submit_tag t('actions.save')
