.show-actions
  = link_to edit_admin_dsgvo_path do
    i.fas.fa-pencil-alt
     = t('labels.dsgvo.edit')
.show
  h1
    = @dsgvo.title
  = markdown(@dsgvo.body)
.show-actions
  = link_to edit_admin_dsgvo_path do
    i.fas.fa-pencil-alt
     = t('labels.dsgvo.edit')
