= form_for [:admin, @link] do |f|
  - unless @link.errors.empty?
    = render 'admin/shared/validation_errors', model: @link
  div
    = f.label :name
    = f.text_field :name
  div
    = f.label :url
    = f.text_field :url, placeholder: 'http://'
  = f.submit t('actions.save')
