.add-entry
  = link_to new_admin_link_path do
    i.fas.fa-plus-circle
    = t('labels.link.new')
.index-filter
  = form_tag admin_links_path, method: :get do
    = text_field_tag :name, params[:name], placeholder: (Link.human_attribute_name :name)
    = text_field_tag :url, params[:url], placeholder: (Link.human_attribute_name :url)
    = link_to t('actions.clear'), admin_links_path, class: "clear"
    = submit_tag t('actions.filter')
- if @links.any?
  = will_paginate
  table.index-table
    thead
      tr
        - [:name, :url].each do |attr|
          th
            = Link.human_attribute_name(attr)
        th
    - @links.each do |link|
      tr
        td
          = link.name
        td.links-url
          = link_to link.url, link.url
        td.actions
          = link_to edit_admin_link_path(link) do
            i.fas.fa-pencil-alt
             = t('actions.edit')
          = button_to admin_link_path(link), method: :delete, data: {confirm: "Wirklich löschen?"} do
            i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
