= form_tag(admin_newsletter_info_path, method: :patch) do
  div
    = render 'admin/shared/md_toolbar'
    = text_area_tag '[newsletter_info][body]', @newsletter_info.body, class: 'body'
  = submit_tag t('actions.save')
