= form_tag(admin_sales_info_path, method: :patch) do
  div
    = render 'admin/shared/md_toolbar'
    = text_area_tag '[sales_info][body]', @sales_info.body, class: 'body'
  = submit_tag t('actions.save')
