@import "../partials/colors";

/** General **/
body.aether {
  background-color: lighten($dgrey, 20%);
}

/** Aether **/
#aether {
  position: fixed;
  left: 50%;
  top: 25%;
  margin-left: -90px;

  #content {
    max-width: initial;
    min-width: initial;
    padding-right: initial;
  }

  input[type=text],
  input[type=password] {
    float: right;
    margin: 5px 5px 0 5px;
    padding: 2px;
    width: 180px;
    color: $dgrey;
    border: 1px solid $dgrey;
    border-radius: 2px;
    background-color: lighten($dgrey, 20%);

    &:-moz-placeholder {
      color: darken($lgrey, 30%);
    }
  }

  input[type=submit] {
    float: right;
    margin: 5px;
    padding: 2px;
    color: $dgrey;
    border: 1px solid $dgrey;
    border-radius: 2px;
    background-color: lighten($dgrey, 20%);
    cursor: pointer;

    &:hover {
      color: darken($lgrey, 30%);
      border-color: darken($lgrey, 30%);
    }
  }

  div.flash {
    margin: 5px 5px 0 7px;
    font-size: 80%;
    color: darken($lgrey, 30%);
  }
}

