/**
 * galleries.scss
 *
 */

/* Show Attachments and Edit Captions */
#attachments {
  float: left;
  width: 100%;
  margin-top: 40px;

  div.attachment {
    position: relative;
    float: left;
    margin: 20px;
    width: 140px;
    height: 172px;

    div.att-img {
      position: relative;
      height: 160px;
      padding: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $lgrey;
      border: 1px solid darken($lgrey, 10%);
      border-radius: 1px;
    }

    div.att-caption {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-color: $dgrey;

      div.att-caption-text {
        padding: 10px;
        line-height: 18px;
        font-size: 0.9em;
        color: $white;

        div.best_in_place {
          cursor: pointer;
        }
      }
    }

    &:hover {
      div.att-caption {
        display: block;
      }
    }

    div.actions {
      position: absolute;
      top: 0;
      right: -23px;

      form.button_to {
        width: 20px;
        min-width: initial;
        max-width: initial;
        margin-top: 2px;

        button {
          border: none;
          background-color: white;
          color: $dgrey;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}

div.add-img input[type=file] {
  margin: 30px 0 30px;
  width: 125px;
  overflow: hidden;
  font-size: .9em;
}

