/**
 * issues.scss
 *
 */

/** index **/
div.issue {
  position: relative;
  float: left;
  margin: 40px;
  width: 140px;
  height: 180px;

  a {
    div.issue-img {
      height: 160px;
      padding: 5px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $lgrey;
      border: 1px solid darken($lgrey, 10%);
      border-radius: 1px;
    }

    div.issue-title {
      margin-top: 10px;
      text-align: center;
    }
  }

  div.actions {
    position: absolute;
    top: 0;
    right: -26px;

    form.button_to {
      width: 20px;
      margin-top: 2px;

      button {
        border: none;
        background-color: white;
        color: darken($lgrey, 10%);

        &:hover {
          color: $dgrey;
        }
      }
    }

    a {
      display: block;
      padding: 0 3px;
      width: 14px;
      height: 18px;
      line-height: 18px;
      overflow: hidden;
      color: darken($lgrey, 10%);

      &:hover {
        color: $dgrey;
      }
    }
  }
}

/** form **/
form {
  div.issue-img {
    margin-top: 2px;
    padding: 10px;
    background-color: $lgrey;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: darken($lgrey, 10%);
    text-align: center;
  }

  div.add-issue-img {
    margin-bottom: 10px;
    padding: 5px;
    background-color: $lgrey;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: darken($lgrey, 10%);
  }
}



