#info {
  display: inline-flex;
  width: 100%;

  .show {
    min-height: initial;
  }

  .info-content {
    width: 90%;
    margin-right: 20px;

    h3 {
      margin-bottom: 20px;
    }
  }

  .edit-info {
    padding-top: 10px;
    width: 16px;
    overflow: hidden;
  }
}
