= form_for [:admin, @store] do |f|
  - unless @store.errors.empty?
    = render 'admin/shared/validation_errors', model: @store
  div
    = f.label :name
    = f.text_field :name
  div
    = f.label :direction
    = f.text_field :direction
  = f.fields_for :city, @store.city do |c|
    .city
      = c.label :city
      = c.text_field :city
    .country
      = c.label :country
      = text_field_tag nil, @country.try(:human), id: 'list-countries', data: {countries: @countries}
      = c.hidden_field :country_id
  div
    = f.label :url
    = f.text_field :url, placeholder: 'http://'
  = f.submit t('actions.save')
