.add-entry
  = link_to new_admin_store_path do
    i.fas.fa-plus-circle
    = t('labels.store.new')
.index-filter
  = form_tag admin_stores_path, method: :get do
    = text_field_tag :name, params[:name], placeholder: Store.human_attribute_name(:name)
    = country_select_tag @countries, :country_id, params[:country_id], prompt: (Store.human_attribute_name :country)
    = text_field_tag :city, params[:city], placeholder: Store.human_attribute_name(:city)
    = link_to t('actions.clear'), admin_stores_path, class: "clear"
    = submit_tag t('actions.filter')

#info
  .show.info-content
    h3= @sales_info.title
    = markdown(@sales_info.body)
  .edit-info
    = link_to edit_admin_sales_info_path do
      i.fas.fa-pencil-alt
      = t('actions.edit')

- if @stores.any?
  = will_paginate
  table.index-table
    thead
      tr
        - [:name, :direction, :url].each do |attr|
          th
            = Store.human_attribute_name(attr)
        th
    - @stores.each do |store|
      tr
        td
          = store.name
        td
          p
            = store.direction
          p
            = store.city.city
        td.stores-url
          = link_to store.url, store.url
        td.actions
          = link_to edit_admin_store_path(store) do
            i.fas.fa-pencil-alt
            = t('actions.edit')
          = button_to admin_store_path(store), method: :delete, data: { confirm: "Wirklich löschen?" } do
            i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
