nav#main-list
  ul
    - @all_news.each do |news|
      a class=("#{'active' if news == @news}") href="#{news_path(news, page: params[:page])}"
        li
          p
            span.tag
              = news.tag
            span.updated-at
              = l news.updated_at, format: :content_list
            span.title
              = news.title
            span.subtitle
              = news.subtitle
  = will_paginate(@all_news)
#content
  - if @news.blank? || !@news.published
    .no-results
      = t('messages.error.find')
  - else
    .actions
      = link_to t('actions.print'), '#', onclick: 'window.print();return false;',
        class: 'fas fa-print', title: t('actions.print'), media: 'print'
    .post
      h1= @news.title
      h2= @news.subtitle
      .info= @news.info
      = markdown(@news.body)
    #post-nav
      .next
        - if @news.next?
          .triangle-right
            = link_to ' next', @news.next
      .prev
        - if @news.prev?
          .triangle-left
            = link_to ' previous', @news.prev
      .home
        .square
          = link_to ' home',  @news.first
