= form_for [:admin, @issue, @post] do |f|
  - unless @post.errors.empty?
    = render 'admin/shared/validation_errors', model: @post
  div
    = f.label :title
    = f.text_field :title
  div
    = f.label :subtitle
    = f.text_field :subtitle
  div
    = f.label :author
    = text_field_tag :authors, @post.authors.join(', '), id: 'list-authors', data: { authors: @authors }
  div
    = render 'admin/shared/md_toolbar',
            img_url: ajax_attachment_set_attachments_path(@post.attachment_set),
            file_url: ajax_uploads_path
    = f.text_area :body, class: 'body'
  .published
    = f.check_box :published
    = t('labels.published.true')
  - unless @post.persisted?
    = hidden_field_tag :attachment_set_id, @post.attachment_set.id
  = f.submit t('actions.save')
