.add-entry
  = link_to new_admin_issue_post_path(params[:issue_id]) do
    i.fas.fa-plus-circle
    = t('labels.post.new')
- if @issue.posts.any?
  // ToDo: clean up and use data-remote tag
  table.index-table#post-index-table*{data: {url: ajax_posts_sort_path}}
    thead
      tr
        - [:title, :author, :status, :gallery, :update].each do |attr|
          th
            = Post.human_attribute_name(attr)
        th
    - @issue.posts.each do |post|
      tr id="art-#{post.id}"
        td
          = link_to post.title, admin_issue_post_path(@issue, post)
        td
          = post.authors.join(", ")
        td.published
          = post.human_published
        td
          = post.gallery?
        td.update
          = l post.updated_at, format: :long
          .updated_by
            = post&.user&.username || 'deleted user'
        td.actions
          = link_to edit_admin_issue_post_path(@issue, post) do
            i.fas.fa-pencil-alt
             = t('actions.edit')
          - unless post.published?
            = button_to admin_issue_post_path(@issue, post), method: :delete, data: {confirm: "Wirklich löschen?"} do
              i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
