.show-actions
  = link_to admin_issue_posts_path(@issue) do
    i.fas.fa-check-circle
    = t('actions.back')
  = link_to edit_admin_issue_post_path(@issue, @post) do
    i.fas.fa-pencil-alt
    = t('actions.edit')
  - if @post.gallery?
    = button_to admin_post_gallery_path(@post), method: :delete, data: { confirm: t('messages.gallery.delete') } do
      i.fas.fa-trash
      = t('actions.gallery.delete')
  - else
    = button_to admin_post_gallery_path(@post), method: :post do
      i.fas.fa-th-large
      = t('actions.gallery.add')
.show
  .author
    - @post.authors.each do |author|
      = link_to author.name, admin_author_path(author)
  h1
    = @post.title
  h2
    = @post.subtitle
  - if @post.gallery?
    // ToDo: clean up and use data-remote tag
    #attachments*{data: {url: ajax_attachment_set_attachments_sort_path(@post.gallery.attachment_set)}}
      - @post.gallery.attachment_set.attachments.each do |attachment|
        .attachment id="attach-#{attachment.id}"
          .att-img style=("background-image: url('#{url_for(attachment.picture.variant(resize_to_limit: [128, 160]))}')")
          .att-caption
            .att-caption-text
              = best_in_place [:ajax, @post.gallery.attachment_set, attachment], :caption,
                      as: :textarea,
                      place_holder: 'Durch Klicken auf den Text kann eine Bildunterschrift hinzugefügt oder geändert werden',
                      html_attrs: {style: "width: 115px; height: 145px; color: #fff; background-color: #333;"},
                      url: ajax_attachment_set_attachment_path(@post.gallery.attachment_set, attachment)
          .actions
            = button_to admin_attachment_set_attachment_path(@post.gallery.attachment_set, attachment), method: :delete do
              i.fas.fa-trash
    .add-img
      = form_for [:admin, @post.gallery.attachment_set, Attachment.new] do |f|
        = f.file_field :picture, 'data-auto-submit' => true
  = markdown(@post.body)
  .author-info
    - @post.authors.each do |author|
      div
      = author.info
.show-actions
  = link_to admin_issue_posts_path(@issue) do
    i.fas.fa-check-circle
    = t('actions.back')
  = link_to edit_admin_issue_post_path(@issue, @post) do
    i.fas.fa-pencil-alt
    = t('actions.edit')
  - if @post.gallery?
    = button_to admin_post_gallery_path(@post), method: :delete, data: { confirm: t('messages.gallery.delete') } do
      i.fas.fa-trash
      = t('actions.gallery.delete')
  - else
    = button_to admin_post_gallery_path(@post), method: :post do
      i.fas.fa-th-large
      = t('actions.gallery.add')
