nav#main-list
  ul
    - @papers.each do |paper|
      a class=("#{'active' if paper == @paper}") href="#{paper_path(paper, page: params[:page])}"
        li
          p
            span.tag
              = paper.tag
            span.updated-at
              = l paper.updated_at, format: :content_list
            span.title
              = paper.title
            span.subtitle
              = paper.subtitle
            span.author
              = paper.authors.join(", ")
  = will_paginate
#content
  - if @paper.blank? || !@paper.published
    .no-results
      = t('messages.error.find')
  - else
    .actions
      = link_to t('actions.print'), '#', onclick: 'window.print();return false;',
        class: 'fas fa-print', title: t('actions.print'), media: 'print'
    .post
      .author
        = @paper.authors.join(", ")
      h1
        = @paper.title
      h2
        = @paper.subtitle
      = markdown(@paper.body)
      .author-info
        - @paper.authors.each do |author|
          div
            = author.info
    #post-nav
      .next
        - if @paper.next?
          .triangle-right
            = link_to ' next', @paper.next
      .prev
        - if @paper.prev?
          .triangle-left
            = link_to ' previous', @paper.prev
      .home
        .square
          = link_to ' home',  @paper.first
