/**
 * public main.scss
 *
 * General OutsideTheBox Frontend Stylesheet
 */

@import 'partials/colors';
@import 'partials/show';
@import 'partials/print';
@import 'sections/about';
@import 'sections/index';
@import 'sections/issues';
@import 'sections/news';
@import 'sections/posts';
@import 'sections/subscribers';
@import 'sections/stores';
@import 'sections/search';

* {
  margin: 0;
  padding: 0;
}

body,
html {
  float: left;
  width: 100%;
  height: 100%;
  color: $dgrey;
  background-color: $white;
}

a {
  color: $dgrey;

  &:hover {
    color: lighten($dgrey, 20%);
  }
}

h1, h2, h3 {
  font-family: 'Helvetica';
}

/** wrapper **/
#wrapper {
  position: relative;
  box-sizing: border-box;
  max-width: 1870px;
  min-width: 1120px;
  min-height: 100%;
  margin: 0 20px;
  padding: 20px 0 40px;
}

body.impressum #wrapper,
body.dsgvo #wrapper,
body.subscribers #wrapper,
body.issues.index #wrapper{
  min-width: 1020px !important;
}


/* just for IE6 */
* html #wrapper {
  height: 100%;
}

#logo {
  float: left;
  width: 170px;
}

/** sidebar **/
nav#menu {
  float: right;
  width: 230px;
  font-size: 1.1em;
  font-family: 'Helvetica';
  font-weight: bold;
  letter-spacing: 1px;

  li {
    float: right;
    clear: right;
    margin-bottom: 5px;
    border: 1px solid $dgrey;

    &:hover {
      background-color: $dgrey;
    }

    a {
      padding: 8px;
      display: block;

      &:hover {
        color: $white;
      }
    }
  }
}

body.about #menu li.about,
body.dsgvo #menu li.dsgvo,
body.impressum #menu li.impressum,
body.issues #menu li.issues,
body.news #menu li.news,
body.papers #menu li.papers,
body.posts #menu li.issues,
body.public #menu li.home,
body.search #menu li.search,
body.subscribers #menu li.newsletter,
body.stores #menu li.stores {
  background-color: $dgrey;

  a {
    color: $white;
  }
}

body.posts {
  @media(max-width:1000px) {
    header {
      position: initial !important;
    }
  }

  header {
    position: fixed;
    left: 280px;
    right: 250px;
  }
}

header {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Helvetica';
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/** main **/

@media(max-width:1500px) {
  body.papers #main,
  body.posts #main,
  body.stores #main,
  body.issues #main {
    margin-left: 180px !important;
  }
}

@media(max-width:1425px) {
  body.about.show #main {
    margin: 160px 250px 0 auto !important;
  }
}

@media(max-width:1200px) {
  body.about.show #main {
    margin-left: 20px !important;
  }
}


@media(max-width:1350px) {
  body.papers #main,
  body.posts #main,
  body.stores #main {
    margin-left: auto !important;
  }
}

body.subscribers #main,
body.dsgvo.show #main,
body.impressum #main {
  margin: 160px auto 0 auto;
  max-width: 640px;
  min-width: 580px;

  #content {
    margin: 0 auto 0 auto;
  }
}


body.posts {
  @media(max-width:1000px) {
    #main {
      margin-top: 160px !important;
    }
  }

  #main {
    margin-top: 200px;
  }
}


#main {
  margin: 160px 250px 0 auto;
  max-width: 70%;
  min-width: 860px;

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }

  div.prev {
    float: left;
    padding: 7px;

    div.triangle-left {
      a {
        display: block;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-right-color: $dgrey;
        overflow: hidden;
      }

      &:hover a {
        border-right-color: lighten($dgrey, 20%);
      }
    }
  }

  div.home {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 47%;

    div.square {
      width: 10px;
      height: 10px;
      margin: 4px 0;
      background-color: $dgrey;
      overflow: hidden;
    }

    &:hover a {
      padding: 10px;
      background-color: lighten($dgrey, 20%)
    }
  }

  div.next {
    float: right;
    padding: 7px;

    div.triangle-right {
      a {
        display: block;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left-color: $dgrey;
        overflow: hidden;
      }

      &:hover a {
        border-left-color: lighten($dgrey, 20%);
      }
    }
  }
}

nav#main-list {
  float: left;
  width: 230px;

  p {
    font-family: 'Helvetica';
    line-height: 1.1em;
  }

  ul {
    border-bottom: 1px solid $dgrey;

    a {
      li {
        padding: 5px;
        border-top: 1px solid $dgrey;

        span.tag {
          font-family: 'Crimson Text';
          font-style: italic;
          padding-bottom: 5px;
        }

        span.updated-at {
          float: right;
          font-size: 0.7em;
        }

        span.title, span.country {
          display: block;
          font-family: 'Helvetica';
          font-weight: bold;
          font-size: 1.1em;
          line-height: 1.2em;
        }

        span.subtitle {
          font-family: 'Helvetica';
          font-size: 1.1em;
          line-height: 1.2em;
        }

        span.author {
        font-family: 'Crimson Text';
          font-style: italic;

        }

        &:hover {
          color: $white;
          background-color: $dgrey;
        }
      }

      &.active {
        color: $white;

        li {
          background-color: $dgrey;
        }
      }
    }
  }

  div.pagination {
    margin: 5px;

    a, .current, .previous_page.disabled, .next_page.disabled {
      display: none;
    }

    .next_page {
      float: right;
      display: block;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-left-color: $dgrey;
      overflow: hidden;

      &:hover {
        border-left-color: lighten($dgrey, 20%);
      }
    }

    .previous_page {
      float: left;
      display: block;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-right-color: $dgrey;
      overflow: hidden;

      &:hover {
        border-right-color: lighten($dgrey, 20%);
      }
    }
  }
}

div#footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}

div#cookies-bar {
  position: fixed;
  bottom: 0%;
  max-width: 100%;
  margin: 0 20px;
  display: inline-flex;
  background-color: $dgrey;
  color: $white;
  font-size: 1.1em;
  line-height: 1.1em;
  z-index: 2;

  a {
    color: $lgrey;
  }

  .left-part {
    width: 90%;
    padding: 10px 15px;
    text-align: justify;

    a {
      text-decoration: underline;
    }
  }

  .right-part {
    width: 10%;
    line-height: 58px;
    text-align: center;
    vertical-align: center;

    a {
      padding: 5px 7px;
      border: 1px solid $white;
      border-radius: 1px;
    }
  }
}
