@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url('#{$font-path}/CrimsonText-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'), url('#{$font-path}/CrimsonText-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson Text';
  font-style: bold;
  font-weight: 600;
  src: local('Crimson Text Semibold'), local('CrimsonText-Semibold'), url('#{$font-path}/CrimsonText-Semibold.ttf') format('truetype');
}
