/**
 * admin attachments.scss
 *
 */

@import 'colors';

div.layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

div.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  margin: -200px 0 0 -300px;
  background-color: $white;
  border: 1px solid $dgrey;
  border-radius: 3px;

  &.attachments {
    div.head {
      float: left;
      width: 100%;
      border-top: 1px solid transparent;
      border-bottom: 1px solid darken($lgrey, 10%);
      border-radius: 2px 2px 0 0;
      background-color: $lgrey;

      span.msg {
        padding-left: 5px;
        line-height: 1.6;
        color: $red;
      }

      span.close {
        float: right;
        padding: 5px;
        cursor: pointer;
        color: $blue;
        font-size: 0.9em;

        &:hover {
          color: $dgrey;
        }
      }
    }

    ul.attachments {
      clear: both;
      height: 400px;
      overflow: auto;

      li.attachment {
        float: left;
        width: 140px;
        height: 160px;
        margin: 20px 0 0 35px;
        padding: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: $lgrey;
        border: 1px solid darken($lgrey, 10%);
        border-radius: 2px;
        cursor: pointer;

        a {
          position: relative;
          float: right;
          top: -5px;
          right: -23px;
          color: darken($lgrey, 10%);
          line-height: 18px;
          display: block;
          width: 15px;
          height: 18px;
          overflow: hidden;
          background-position: left center;

          &:hover {
            color: $dgrey;
          }
        }
      }

      li.document {
        margin: 5px;
        padding: 5px;
        font-size: 0.9em;
        border: 1px solid darken($lgrey, 10%);
        border-radius: 2px;
        cursor: pointer;

        a.del {
          line-height: 18px;
          display: block;
          width: 15px;
          height: 18px;
          overflow: hidden;
          background-position: left center;
          float: right;

          &:hover {
            color: $blue;
          }
        }

        &:hover {
          color: $blue;
        }
      }
    }

    div.upload {
      clear: both;
      padding: 5px;
      border-top: 1px solid darken($lgrey, 10%);
      border-bottom: 1px solid transparent;
      border-radius: 0 0 2px 2px;
      background-color: $lgrey;

      input[type=file] {
        width: 115px;
        overflow: hidden;
      }
    }
  }
}
