/**
 * form.scss
 *
 * General stylesheet for admin form templates
 */

body form {
  margin-top: 30px;
}

body.posts form,
body.papers form,
body.newsletters form,
body.about form,
body.dsgvo form,
body.news form,
body.newsletter_info form,
body.sales_info form,
body.impressum form {
  max-width: 700px;
  min-width: 600px;

  textarea {
    height: 400px;
  }
}

body.issues form,
body.authors form,
body.users form,
body.stores form,
body.links form {
  width: 400px;

  textarea {
    height: 100px;
  }
}

label {
  margin: 5px 0;
  font-size: 90%;
  color: lighten($dgrey, 20%);
  cursor: pointer;
}

.published {
  clear: both;
}

/* news on stage */
.on-stage {
  margin-top: 20px;
  width: 100%;
}

  .on-stage-period {
    margin: 15px 20px;
    display: inline-block;
    width: 100%;

    #news_on_stage_from, #news_on_stage_until {
      margin: 0 10px;
    }
  }


/* Autocomplete */
.ui-helper-hidden-accessible {
  display: none;
}

ul.ui-autocomplete {
  position: absolute;
  background-color: $white;
  border: 1px solid darken($lgrey, 10%);

  li.ui-menu-item {
    padding: 2px;
  }

  a {
    font-size: 0.9em;
    color: lighten($dgrey, 20%);

    &:hover, &.ui-state-focus {
      color: $blue;
    }
  }
  }

/* Markdown Toolbar */
ul.md-toolbar {
  float: left;
  width: 100%;

  li {
    float: left;
    margin: 10px 10px 4px 0;
    padding: 2px 6px;
    font-size: .7em;
    color: lighten($dgrey, 20%);
    border: 1px solid darken($lgrey, 10%);
    cursor: pointer;

    &:hover {
      border: 1px solid darken($lgrey, 15%);
    }

    &.help {
      float: right;
      margin: 10px 0 0;
      background-color: transparent;
      border: 0 none transparent;
    }
  }

  li.h {
    text-decoration: underline;
    font-weight: bold;
  }
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  float: none;
  width: 100%;
  margin: 2px 0 10px;
  padding: 2px;
  display: block;
  font-family: sans-serif;
  font-size: 0.9em;
  color: $dgrey;
  border: 1px solid darken($lgrey, 10%);

  &:-moz-placeholder {
    color: darken($lgrey, 20%);
  }

  &:hover {
    border: 1px solid darken($lgrey, 15%);
  }
}

textarea {
  float: left;
}

div.published {
  padding-top: 20px;
}

input[type=submit] {
  float: left;
  margin-top: 20px;
  padding: 3px;
  font-size: 0.9em;
  color: lighten($dgrey, 20%);
  background-color: $white;
  border: 1px solid darken($lgrey, 10%);
  border-radius: 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  color: $blue;
  border-color: darken($lgrey, 15%);
}
