/*
 * index.scss
 *
 * General stylesheet for admin index templates
 */

/* Add a new entry */
div.add-entry {
  padding: 8px 0;

  a.fa-plus-circle {
    &:before {
      font-size: 90%;
      margin-right: 5px;
    }
  }
}

/* Filter index results  */
div.index-filter {
  height: 25px;
  margin-bottom: 20px;
  line-height: 1.8em;
  padding: 5px;
  background-color: $lgrey;
  border: 1px solid darken($lgrey, 10%);
  border-radius: 2px;

  form {
    margin-top: 0;
    width: auto;
    max-width: 900px;
    min-width: 700px;
  }

  input[type=text] {
    float: left;
    margin-right: 5px;
    width: 190px;
    border-radius: 2px;
  }

  label {
    vertical-align: top;
  }

  input[type=radio] {
    vertical-align: initial;
  }

  select {
    margin: 0 0 5px;
    height: 22px;
    color: darken($lgrey, 20%);
    background-color: $white;
    border: 1px solid darken($lgrey, 20%);
    border-radius: 2px;
  }

  a.clear {
    float: right;
    padding: 3px;
    margin: 0 5px;
    font-size: 0.9em;
    line-height: normal;
    color: lighten($dgrey, 20%);
    background-color: $white;
    border: 1px solid darken($lgrey, 10%);
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  input[type=submit] {
    float: right;
    margin: 0 5px;
  }
}

/* Pagination */
div.pagination {
  float: right;
  padding: 2px 0;
  font-size: 0.9em;

  .current {
    font-style: normal;
    color: $blue;
  }
}

/* Index Table*/
table.index-table {
  width: 100%;
  margin-bottom: 20px;
  font-size: .9em;
  border-collapse: separate;
  border-spacing: 0 3px;

  thead, tfoot {
    background-color: $lgrey;

    th {
      padding: 8px 10px;
      font-weight: normal;
      text-align: left;
      line-height: 18px;
      border-width: 1px 0;
      border-style: solid;
      border-color: darken($lgrey, 10%);

      &:first-child {
        border-width: 1px 0 1px 1px;
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-width: 1px 1px 1px 0;
        border-radius: 0 2px 2px 0;
      }
    }
  }

  td {
    padding: 0 10px;
    height: 36px;
    border-width: 1px 0;
    border-style: solid;
    border-color: darken($lgrey, 10%);
    vertical-align: middle;

    &:first-child {
      border-width: 1px 0 1px 1px;
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-width: 1px 1px 1px 0;
      border-radius: 0 2px 2px 0;
    }

    &.issue {
      width: 120px;
    }

    &.published, &.status, &.on-stage-status {
      width: 90px;
    }

    &.update, &.created {
      width: 115px;

      div.updated_by:before {
        content: "by ";
      }
    }
  }

  .actions {
    width: 20px;

    form.button_to {
      width: 20px;
      min-width: initial;
      max-width: initial;
      margin-top: 2px;

      button {
        border: none;
        background-color: white;
        color: $dgrey;

        &:hover {
          color: $blue;
        }
      }
    }

    a {
      line-height: 18px;
      padding: 3px 3px 0 !important;
      display: block;
      width: 11px;
      height: 18px;
      overflow: hidden;
      background-position: left center;
    }
  }
}

div.no-results {
  margin-top: 50px;
  text-align: center;
  color: $red;
}


