/**
 * show.scss
 *
 */

div.show {
  max-width: 90%;
  min-width: 580px;
  min-height: 400px;
  margin: 15px 0;
  padding: 20px;
  border-top: 1px solid $dgrey;
  border-bottom: 1px solid $dgrey;

  a {
    color: lighten($dgrey, 20%);

    &:hover {
      color: $dgrey;
    }
  }

  div.author {
    font-style: italic;

    a {
      &:after {
        content: ', ';
      }

      &:last-child:after {
        content: ' ';
      }
    }
  }

  h1 {
    padding: 10px 0;
    font-size: 1.8em;
  }

  h2 {
    font-weight: 500;
    padding-bottom: 10px;
  }

  div.markdown {
    h1 {
      padding: 30px 0 20px;
      font-size: 1.25em;
      line-height: 1.25em;
      font-weight: 500;
      text-transform: none;
      letter-spacing: 0.5px;
    }

    h2 {
      padding-bottom: 10px;
      font-size: 1.2em;
      line-height: 1.25em;
      font-weight: 500;
      font-style: italic;
    }

    p {
      padding-bottom: 10px;
      line-height: 1.5;

      span.single-img {
        display: inline-block;
      }

      figure {
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
        max-width: 100%;
        float: left;

        img {
          max-width: 400px;
          max-height: 400px;
        }

        figcaption {
          font-size: 0.9em;
          line-height: 1;
        }

        &.full img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    ul {
      margin: 0 0 20px 20px;
      line-height: 1.4em;

      li {
        list-style-type: square;
      }
    }

    ol {
      margin: 0 0 20px 20px;
      line-height: 1.4em;

      li {
        list-style-type: decimal;
      }
    }

    blockquote {
      float: right;
      padding: 20px 0 20px 20px;
      width: 50%;
      text-align: block;
      font-weight: 500;
    }

    a.footnote {
      line-height: 100%;
      vertical-align: top;
      color: $red;
    }

  }

  div.author-info {
    clear: both;
    margin: 40px 0;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5;
  }

  div.footnotes {
    ol > li {
      list-style-type: decimal !important;
      margin-left: 20px;
      padding-bottom: 5px;
      font-size: 90%;
    }
  }
}

div.show-actions {
  margin-left: 20px;
  display: inline-flex;

  form.button_to {
    display: inline;
    width: 20px;
    margin-top: 2px;

    button {
      border: none;
      background-color: white;
      color: $dgrey;
      font-size: 1em;

      &:hover {
        color: $blue;
      }
    }
  }

  a, .published-status, .on-stage-status {
    padding-right: 20px;
  }

  .fa-check-circle, .fa-pencil-alt, .fa-envelope, .fa-trash, .fa-eye,
  .fa-eye-slash, .fa-bell, .fa-bell-slash, .fa-th-large {
    &:before {
      font-size: 90%;
      margin-right: 5px;
    }
  }
}

