/*
 * sidebar.scss
 *
 * Stylesheet for admin sidebar
 */

#sidebar {
  float: left;
  width: 200px;
  padding-left:  20px;
  border-right: 1px solid darken($lgrey, 10%);

  .logo {
    margin: 45px 75px;
  }

  ul li {
    margin-bottom: 16px;
    text-align: right;

    .menu {
      display: block;
      padding: 10px 20px;
      background: $lgrey;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: darken($lgrey, 10%);
      border-radius: 4px 0 0 4px;
    }

    .submenu, .submenu-issue {
      margin-top: 16px;
      padding: 8px 20px;
      font-size: 90%;
      border-width: 1px 0 1px 1px;
      border-style: solid;
      border-color: darken($lgrey, 10%);
      border-radius: 4px 0 0 4px;

      li {
        margin-bottom: 0;
      }
    }

    ul.submenu {
      display: none;

      li {
        position: relative;
      }
    }

    &:hover > ul {
      display: block;
    }
  }
}

body.issues #sidebar ul li.issues a,
body.papers #sidebar ul li.papers a,
body.authors #sidebar ul li.authors a,
body.newsletters #sidebar ul li.newsletter a {
  color: $blue;
}

body.users #sidebar li.settings > ul,
body.subscribers #sidebar li.settings > ul,
body.about #sidebar li.settings > ul,
body.impressum #sidebar li.settings > ul,
body.dsgvo #sidebar li.settings > ul,
body.stores #sidebar li.settings > ul,
body.links #sidebar li.settings > ul {
  display: block;
}

body.posts #sidebar ul.submenu-issue li.posts a,
body.users #sidebar ul.submenu li.users a,
body.subscribers #sidebar ul.submenu li.subscribers a,
body.about #sidebar ul.submenu li.about a,
body.impressum #sidebar ul.submenu li.impressum a,
body.dsgvo #sidebar ul.submenu li.dsgvo a,
body.stores #sidebar ul.submenu li.stores a,
body.links #sidebar ul.submenu li.links a {
  color: $blue;
}

