/**
 * Widgets
 **/

/* Flash */
#main div.flash {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 400px;
  margin-left: -208px;
  padding: 6px 10px;
  font-size: .9em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  color: #fff;
  background-color: lighten($blue, 5%);
  border: 1px solid darken($blue, 5%);
  border-top: 0 none transparent;
  border-radius: 0 0 2px 2px;

  &.alert {
    background-color: lighten($red, 5%);
    border: 1px solid darken($red, 5%);
  }
}

/* Validation Errors */
div.validation-errors {
  margin-bottom: 20px;
  font-size: 0.9em;
  color: $red;
}

div.field_with_errors input[type=text],
div.field_with_errors input[type=password],
div.field_with_errors input[type=email] {
  border-left: 2px solid $red;
  border-radius: 2px;
}

/* Show a Tooltip */
#info {
  float: right;
}

div#tooltip {
  display: none;
  position: absolute;
  top: 140px;
  left: 650px;
  margin-right: 20px;
  padding: 10px;
  max-width: 400px;
  min-width: 290px;
  font-size: 0.9em;
  line-height: 1.5em;
  background-color: $lgrey;
  border: 1px solid darken($lgrey, 10%);
  border-radius: 2px;

  h1 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: $blue;
  }

  h2 {
    margin: 20px 0 10px;
    font-size: 1.1em;
    color: $blue;
  }

  p {
    margin-bottom: 5px;

    .red {
      margin: 0 3px;
      padding: 0 2px;
      background-color: lighten($red, 15%);
      border: 1px solid transparent;
      border-radius: 2px;
    }

    .blue {
      margin: 0 3px;
      padding: 0 2px;
      background-color: lighten($blue, 20%);
      border: 1px solid transparent;
      border-radius: 2px;
    }
  }

  p.note {
    margin: 20px 0 0;
    font-size: 0.8em;

    a {
      color: $blue;

      &:hover {
        color: $dgrey;
      }
    }
  }
}
