Hallo <%= @subscriber.name %>,


Du wurdest aus dem Newsletter der 'outside the box' ausgetragen.

Wenn du das gar nicht wolltest, dann trag dich doch einfach
wieder auf <%= @url %> ein.


Viele Grüße und bis hoffentlich bald,

//outside the box

---------------------------------------
** Fragen an uns: inside@outside-mag.de