<%= @newsletter.title %>
==============================================================================
<%= @newsletter.body %>

----------------------
Wenn du den Newsletter nicht mehr erhalten möchtest, trage dich hier aus:

<%= @subscriber.signed_unsubscribe_url %>