Hallo du,


du möchtest dich in den otb-Newsletter eingetragen?
Dann bestätige bitte noch den folgenden Link:

<%= @subscriber.signed_confirm_url %>

<%= I18n.t('messages.subscriber.nl-consent') %>

Wir werden dich fortan sporadisch mit Neuigkeiten
aus der Redaktion und was uns sonst so bewegt und interessiert
versorgen.


Viel Spaß damit,

//outside the box

----------------------------------------------
** Fragen an uns: inside@outside-mag.de

** Abbestellen kannst du den Newsletter hier:

<%= @subscriber.signed_unsubscribe_url %>