#content
  #info
    .post
      = markdown(@newsletter_info_text)
  = form_for [@subscriber] do |f|
    - flash.each do |key, val|
      div class=("flash #{key}")
        = val
    - unless @subscriber.errors.empty?
      = render 'admin/shared/validation_errors', model: @subscriber

    div
      = f.label :email
      = f.email_field :email

    div.captcha
      = rucaptcha_image_tag(alt: 'Captcha')
    div.captcha-input  
      p = t('labels.subscriber.captcha')
      = rucaptcha_input_tag(class: 'form-control')

    = f.submit t('actions.save')
