#posts-list
  #issues-nav
    - if @issue.picture.attached?
      = image_tag(@issue.picture.variant(resize_to_limit: [230, 320]))
    - else
      = image_pack_tag('logo_issue_medium.png')
    .next
      - if @issue.next?
        .triangle-right
          = link_to ' next', issue_posts_path(@issue.next)
    .prev
      - if  @issue.prev?
        .triangle-left
          = link_to ' previous', issue_posts_path(@issue.prev)
    .home
      - if @issue.next? || @issue.prev?
        .square
          = link_to ' home', issue_posts_path(Issue.first)
  nav#main-list
    ul
      - @posts.each do |post|
        a class=("#{'active' if post == @post}") href="#{issue_post_path(@issue, post)}"
          li
            p
              span.title
                = post.title
              span.subtitle
                = post.subtitle
              span.author
                = post.authors.join(", ")
#content
  - if @post.nil?
    .no-results
      = t('messages.error.find')
  - else
    .actions
      = link_to t('actions.print'), '#', onclick: 'window.print();return false;',
        class: 'fas fa-print', title: t('actions.print'), media: 'print'
    .post
      .author
        = @post.authors.join(", ")
      h1
        = @post.title
      h2
        = @post.subtitle
      - if @post.gallery?
        .gallery.flexslider
          ul.slides
            - @post.gallery.attachment_set.attachments.each do |attachment|
              li
                div
                  = image_tag(attachment.picture.variant(resize_to_limit: [800, 600]))
                p.flex-caption
                  = attachment.caption
      = markdown(@post.body)
      .author-info
        - @post.authors.each do |author|
          div
            = author.info
    #post-nav
      .next
        - if @post.next?
          .triangle-right
            = link_to '  next', [@issue, @post.next]
      .prev
        - if  @post.prev?
          .triangle-left
            = link_to ' previous', [@issue, @post.prev]
      .home
        - if @post.next? || @post.prev?
          .square
            = link_to ' home',  [@issue, @post.first]
