- if @links.any?
  #link-list
    h3
      = t('labels.link.menu')
    ul
      - @links.each do |link|
        li
          = link_to link.name, link.url, target: '_blank'
#content
  .actions
    = link_to t('actions.print'), '#', onclick: 'window.print();return false;',
            class: 'fas fa-print', title: t('actions.print'), media: 'print'
  .post
    .author
      = @about.author
    h1
      = @about.title
    = markdown(@about.body)
