= form_for [:admin, @newsletter] do |f|
  - unless @newsletter.errors.empty?
    = render 'admin/shared/validation_errors', model: @newsletter
  div
    = f.label :title
    = f.text_field :title
  div
    = f.text_area :body, class: 'body'
  = f.submit t('actions.save')
