.add-entry
  = link_to new_admin_newsletter_path do
    i.fas.fa-plus-circle
    = t('labels.newsletter.new')
  - unless Newsletter.any?
  .no-results
    = t('messages.error.find')
- if @unpublished.any?
  table.index-table
    thead
      tr
        th
          = t('labels.newsletter.unpublished')
        th
          = Newsletter.human_attribute_name :update
        th
    - @unpublished.each do |newsletter|
      tr
        td
          = link_to newsletter.title, admin_newsletter_path(newsletter)
        td.update
          = l newsletter.updated_at, format: :long
          .updated_by
            = newsletter.user.username
        td.actions
          = link_to ('actions.edit'), edit_admin_newsletter_path(newsletter), class: 'fas fa-pencil-alt', title: t('actions.edit')
          = button_to admin_newsletter_path(newsletter), method: :delete, data: {confirm: "Wirklich löschen?"} do
            i.fas.fa-trash
= will_paginate @published
- if @published.any?
  table.index-table
    thead
      tr
        th
          = t('labels.newsletter.published')
        th
          = t('labels.newsletter.send')
        th
    - @published.each do |newsletter|
      tr
        td
          = link_to newsletter.title, admin_newsletter_path(newsletter)
        td.update
          = l newsletter.updated_at, format: :long
          .updated_by
            = newsletter.user.username
        td.actions
          = link_to ('actions.show'), admin_newsletter_path(newsletter), class: 'fas fa-truck'
= will_paginate @published
