.show-actions
  - unless @newsletter.published
    = button_to sendletter_admin_newsletter_path(@newsletter) do
      i.fas.fa-envelope
      =  t('actions.send')
    = link_to edit_admin_newsletter_path(@newsletter) do
      i.fas.fa-pencil-alt
      = t('actions.edit')
  = link_to admin_newsletters_path do
    i.fas.fa-check-circle
    = t('actions.back')
.show
  h1
    = @newsletter.title
  = markdown(@newsletter.body)
.show-actions
  - unless @newsletter.published
    = button_to sendletter_admin_newsletter_path(@newsletter) do
      i.fas.fa-envelope
      =  t('actions.send')
    = link_to edit_admin_newsletter_path(@newsletter) do
      i.fas.fa-pencil-alt
      = t('actions.edit')
  = link_to admin_newsletters_path do
    i.fas.fa-check-circle
    = t('actions.back')
