= form_for [:admin, @user] do |f|
  - unless @user.errors.empty?
    = render 'admin/shared/validation_errors', model: @user
  #tooltip
    = render 'admin/shared/tooltip'
  div
    = f.label :username
    = f.text_field :username
  div
    = f.label :password
    = link_to '?', '', id: 'info'
    = f.password_field :password
  div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  div
    = f.check_box :admin, disabled: current_user?(@user)
    = f.label :admin
  = f.submit t('actions.save')
