.add-entry
  = link_to t('labels.user.new'), new_admin_user_ 'fas fa-plus-circle'
.index-filter
  = form_tag admin_users_path, method: :get do
    = text_field_tag :username, params[:username], placeholder: (User.human_attribute_name :name)
    label
      = radio_button_tag :admin, '0', params[:admin] == '0'
      = t('labels.user.editor')
    label
      = radio_button_tag :admin, '1', params[:admin] == '1'
      = t('labels.user.admin')
    = link_to t('actions.clear'), admin_users_path, class: "clear"
    = submit_tag t('actions.filter')
- if @users.any?
  = will_paginate
  table.index-table
    thead
      tr
        - [:name, :status, :created].each do |attr|
          th
            = User.human_attribute_name(attr)
        th
    - @users.each do |user|
      tr
        td
          p
            = user.username
        td.status
          p
            - if user.admin?
              = t('labels.user.admin')
            - else
              = t('labels.user.editor')
        td.created
          = l user.created_at, format: :short
        td.actions
          = link_to t('actions.edit'), edit_admin_user_path(user), class: 'fas fa-pencil-alt', title: t('actions.edit')
          = button_to admin_user_path(user), method: :delete, data: {confirm: "Wirklich löschen?"} do
            i.fas.fa-trash
- else
  .no-results
    = t('messages.error.find')
