#short-form
  = form_for @user, url: admin_profile_path do |f|
    - unless @user.errors.empty?
      = render 'admin/shared/validation_errors', model: @user
    #tooltip
      = render 'admin/shared/tooltip'
    div
      = f.label :username
      = f.text_field :username, disabled: true
    div
      = f.label :password
      = link_to "?", "", id: 'info'
      = f.password_field :password
    div
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    div
      = f.label :password_old
      = f.password_field :password_old
    = f.submit t('actions.save')
