= form_tag(admin_about_path, method: :patch) do
  div
    = label_tag :title
    = text_field_tag "[about][title]", @about.title
  div
    = label_tag :author
    = text_field_tag "[about][author]", @about.author
  div
    = render 'admin/shared/md_toolbar'
    = text_area_tag "[about][body]", @about.body, class: 'body'
  = submit_tag t('actions.save')
