.show-actions
  = link_to edit_admin_about_path do
    i.fas.fa-pencil-alt
     = t('actions.edit')
.show
  .show-author
    = @about.author
  h1
    = @about.title
  = markdown(@about.body)
.show-actions
  = link_to edit_admin_about_path do
    i.fas.fa-pencil-alt
     = t('actions.edit')
