ul.md-toolbar
  li.h Header
  li.b.fa.fa-bold
  li.i.fa.fa-italic
  li.q "Quote"
  li.fn "*Note"
  li.li.fa.fa-list
  - unless defined?(img_url).nil?
    li.img.fa.fa-image data-url=img_url
  - unless defined?(file_url).nil?
    li.file.fa.fa-file data-url=file_url
  li.a.fa.fa-link
  li.help
    = link_to "?", "http://kramdown.rubyforge.org/quickref.html", target: '_blank'
