h1 Was ein besseres Passwort ist?
p
  | Ein sicheres Password besteht aus möglichst vielen Zeichen. Es enthält sowohl
  | Groß- und Kleinbuchstaben, Sonderzeichen und Zahlen.
p
  | Es sollten keine einzelnen Wörter verwendet werden, die im Lexikon nachschlagbar
  | sind. Das gilt auch für Kombinationen aus bekannten Wörtern und Zahlen.
p
  span.red Hundekuchen123
  | ist daher ein schlechtes Passwort.
p
  | Seit neuestem gilt auch das bloße Ersetzen einzelner Buchstaben durch
  | "naheliegende" Zahlen als nicht mehr ausreichend.
p
  span.red Hund3kuch3n
  | ist also nicht sehr viel besser...
h2 ... warum schwer wenns einfach geht?!
p
  | Auch kryptische Passwörter, wie
  span.blue Dwjd#1dPv!
  | haben einen Nachteil:
  strong Sie sind viel zu kurz!
p
  | Daher nimm doch einfach einen schicken Satz. Der hier bspw. ist möglichst lang, hat alles drin, was er braucht und ist auch noch leicht zu merken.


  span.blue
    | Da wird ja 1 Hund in der Pfanne verrückt!
p
  strong Viel Spaß damit!
