- flash.each do |key, val|
  div class=("root-flash #{key}")
    = val
#content
  #news-on-stage
    - @news.each do |news|
      a href="#{news_path(news, page: params[:page])}"
        .post
          - if news.tag.present?
            .tag= news.tag
          h1.title= news.title
          h2.title= news.subtitle
          .info= news.info

  #index-img
    = image_pack_tag('marxi.png')
