#cookies-bar
  .left-part
    p
      |  Wir verwenden Cookies, um das einwandfreie Funktionieren unserer Website zu gewährleisten. Wir speichern KEINE Cookies von Drittanbietern. Durch die weitere Nutzung unserer Website stimmen Sie der Verwendung von Cookies zu. Weitere Infos finden Sie in unserer 
      a
        = link_to 'Datenschutzerklärung',  dsgvo_path
  .right-part
    = link_to 'OK', request.original_url, id: 'read-cookie-hint'
