doctype html
html
  head
    meta[charset="utf-8"]
    title
      = @title
    = javascript_pack_tag('admin')
    = csrf_meta_tags
    = csp_meta_tag
  body class=("#{body_class.join(' ')}")
    #wrapper
      nav#sidebar
        .logo
          = link_to(image_pack_tag('logo.png', title: 'Home'), admin_issues_path )
        ul
          li.issues
            .menu
              = link_to t('labels.issue.menu'), admin_issues_path
            - if params[:issue_id]
              ul.submenu-issue
                li.posts
                  div
                    = link_to @issue.title, admin_issue_posts_path(params[:issue_id])
        ul
          li.news
            .menu
              = link_to t('labels.news.menu'), admin_news_index_path
        ul
          li.papers
            .menu
              = link_to t('labels.paper.menu'), admin_papers_path
        ul
          li.newsletter
            .menu
              = link_to t('labels.newsletter.menu'), admin_newsletters_path
        ul
          li.authors
            .menu
              = link_to t('labels.author.menu'), admin_authors_path
        - if current_user.admin?
          ul
            li.settings
              .menu
                = t('labels.settings.menu')
              ul.submenu
                li.users
                  div
                    = link_to t('labels.user.menu'), admin_users_path
              ul.submenu
                li.subscribers
                  div
                    = link_to t('labels.subscriber.menu'), admin_subscribers_path
              ul.submenu
                li.stores
                  div
                    = link_to t('labels.store.menu'), admin_stores_path
              ul.submenu
                li.links
                  div
                    = link_to t('labels.link.menu'), admin_links_path
              ul.submenu
                li.about
                  div
                    = link_to t('labels.about.menu'), admin_about_path
              ul.submenu
                li.impressum
                  div
                    = link_to t('labels.impressum.menu'), admin_impressum_path
              ul.submenu
                li.dsgvo
                  div
                    = link_to t('labels.dsgvo.menu'), admin_dsgvo_path
      #main
        - flash.each do |key, val|
          div class=("flash #{key}")
            = val
        header#header
          = link_to admin_login_path, method: :delete do
            i.fas.fa-sign-out-alt
            = t('actions.logout')
          = link_to admin_profile_path do
            i.fas.fa-user
            = current_user.username
          h1
            = @title
          h2
            = @subtitle
        #content
          = yield
