doctype html
html
  head
    meta[charset="utf-8"]
    title
      = @title
    = javascript_pack_tag('admin')
    = csrf_meta_tags
    = csp_meta_tag
  body.aether
    #aether
      - flash.each do |key, val|
        div class=("flash #{key}")
          = val
      #content
        = yield
