doctype html
html
  head
    meta[charset="utf-8"]
    title= @title
    = javascript_pack_tag('public')
    = csrf_meta_tags
    = csp_meta_tag
  body class=("#{body_class.join(' ')}")
    #wrapper
      nav#menu
        ul
          li.news
            = link_to t('labels.news.public'), news_index_path
          li.issues
            = link_to t('labels.issue.public'), issues_path
          li.papers
            = link_to t('labels.paper.public'), papers_path
          li.about
            = link_to t('labels.about.public'), about_path
          li.newsletter
            = link_to t('labels.newsletter.public'), new_subscriber_path
          li.stores
            = link_to t('labels.store.public'), stores_path
          li.search
            = link_to t('labels.search.public'), search_path
          li.impressum
            = link_to t('labels.impressum.contact'), impressum_path
      #logo
        = link_to(image_pack_tag('logo_mitblatt.svg', title: 'Home'), root_path)
      header#header
        h1
          = @title
      #main
        = yield
      - if !cookies[:otb_cookies_note_readed]
        = render 'layouts/cookies_bar'
      #footer
        = link_to t('labels.impressum.public'), impressum_path
        = link_to t('labels.dsgvo.public'), dsgvo_path
